<!-- Main index page -->
<section class="jumbotron text-center bg-light">
    <div class="container">
        <!-- Title -->
        <h1 class="display-4 font-weight-normal">{{title}}</h1>
        
        <!-- Description -->
        <p class="lead text-muted">DeChat is a decentralized messaging app that lets you sent messages, add friends and much more while keeping your
            precious data in your own pod.</p>
        
        <!-- Butons -->
        <p>
            <a class="btn btn-outline-secondary btn-lg mb-2" href="/messages">Open messages</a>
            <a class="btn btn-outline-primary btn-lg mb-2" href="/contacts">Open contacts</a>
        </p>
    </div>
</section>