<div class="my-3 p-3 bg-white card card-body rounded box-shadow">

    <!-- Heading -->
    <div class="row border-bottom border-gray pb-2 mb-3">
        <!-- Name display -->
        <div class="col-8">
            <h5>Register Account</h5>
        </div>

    </div>

    <!-- Card Form -->
    <form action="/users/register" method="post">

        <!-- Username -->
        <div class="form-group">
            <label for="username">Username</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="username" class="form-control" name="username" placeholder="Username" name="username" value="{{username}}" required>
            </div>
        </div>

        <div class="form-row">
            <!-- Password -->
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" value="{{password}}" required>
            </div>

            <!-- Confirm Password -->
            <div class="form-group col-md-6">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password2" value="{{password2}}" required>
            </div>
        </div>


        <!-- Url -->
        <div class="form-group">
            <label for="url">Data pod URL</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">URL</span>
                </div>
                <input type="text" class="form-control" name="datapod" placeholder="http://example.com" value="{{datapod}}" required>
            </div>
        </div>



        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>